@media screen and (max-width: 1000px) {
  /* header */

  header .container {
    display: flex;
    flex-direction: column;
    height: 110px;
  }

  header .jaque,
  header .fontes {
    font-size: 20px;
    margin-bottom: 8px;
  }

  header .jaque {
    margin-left: -180px;
  }

  .container .topicos-menu {
    font-size: 14px;
    padding: 5px;
    margin-left: 30px;
  }

  .container .topicos-menu a {
    width: 150px;
    display: block;
    float: left;
    padding-bottom: 10px;
    text-align: left;
  }

  .container .topicos-menu a:after {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background: salmon;
    margin: 0px 2px;
  }

  /* principal */
  main .container .titulo {
    font-size: 30px;
    margin-top: 130px;
    margin-left: 2%;
  }

  main .container .descricao {
    font-size: 15px;
  }

  main .container .descricao2 {
    font-size: 15px;
    font-weight: bold;
  }

  .principal {
    background-size: cover;
    width: 100%;
  }

  .principal .container {
    width: 70%;
  }

  /* botão */
  .botao {
    font-size: 12px;
    padding: 10px 10px;
    width: 50%;
    margin-bottom: 8px;
  }

  .botao-cv {
    width: 50%;
    margin-left: 120px;
    font-size: 15px;
  }

  /* experiências e formação */
  .experiencias .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .formacao-tech .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  /* contato */
  .contato .container-contato ul {
    display: flex;
    flex-direction: column;
  }

  .contato .container-contato ul a li {
    font-size: 15px;
    padding: 10px;
  }

  .subtitulo {
    margin-left: 5%;
  }
}
